<launch>
  <arg name="rviz" default="true"/>

  <!-- usb camera -->
  <rosparam ns="usb_cam" command="load" file="$(find manicapture)/cfg/camctl.yaml" />
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
  </node>

  <!-- below is apriltag stuff -->
  <arg name="launch_prefix" default="" />
  <arg name="camera_name" default="/usb_cam" />
  <arg name="image_topic" default="image_raw" />
  <arg name="queue_size" default="1" />

  <!-- apriltag_ros continuous detection node -->
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag_ros_continuous_node" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="publish_tag_detections_image" type="bool" value="true" />
    <param name="queue_size" type="int" value="$(arg queue_size)" />
    <rosparam command="load" file="$(find manicapture)/cfg//tagctl.yaml"/>
    <remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name)/camera_info" />
  </node>

  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find manicapture)/launch/vis_manipose.rviz" />
  </group>

</launch>

<!-- 
rosparam set /apriltag_ros_continuous_node/tag_refine_pose 1
rosservice call /apriltag_ros_continuous_node/refresh_tag_params
 -->