<launch>
<!-- parameter definition -->
    <arg name="machine" default="true"/>
    <arg name="display" default="true"/>

    <group if="$(arg machine)">
    <include file="$(find manicapture)/launch/machine.launch" />
    </group>

<!-- tactile node -->
    <node pkg="manicapture" type="manitactile.py" name="manitactile_node" output="screen"/>

    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_0" args="0.2 0 0 0 0 0 map manitactile_0 500" />
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_1" args="0.5 0 0 0 0 0 map manitactile_1 500" />
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_2" args="0.8 0 0 0 0 0 map manitactile_2 500" />
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_3" args="0.11 0 0 0 0 0 map manitactile_3 500" />

<!-- visualization -->
    <group if="$(arg display)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find manicapture)/launch/vis_system.rviz" />
    </group>

</launch>