<launch>
    <arg name="tactile" default="true"/>
    <arg name="joint" default="true"/>
    <arg name="pose" default="false"/>

<!-- hardware connection -->
    <include file="$(find manicapture)/launch/machine.launch"/>

<!-- tactile node -->
    <include file="$(find manicapture)/launch/manitactile.launch" if="$(arg tactile)">
        <arg name="machine" value="false" />
        <arg name="display" value="false" />
    </include>

<!-- joint node -->
    <include file="$(find manicapture)/launch/manijoint.launch" if="$(arg joint)">
        <arg name="machine" value="false" />
        <arg name="display" value="false" />
    </include>

<!-- pose node -->
    <include file="$(find manicapture)/launch/manipose.launch" if="$(arg pose)">
        <arg name="display" value="false" />
    </include>

<!-- visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find manicapture)/launch/vis_system.rviz" />
</launch>