<launch>
    <arg name="tactile" default="true"/>
    <arg name="joint" default="true"/>
    <arg name="pose" default="true"/>
    <arg name="rviz" default="false"/>

<!-- hardware connection -->
    <include file="$(find manicapture)/launch/machine.launch"/>

<!-- tactile node -->
    <include file="$(find manicapture)/launch/manitactile.launch" if="$(arg tactile)">
        <arg name="machine" value="false" />
        <arg name="rviz" value="false" />
        <arg name="tactile_mode" value="mobile" />
    </include>

<!-- joint node -->
    <include file="$(find manicapture)/launch/manijoint.launch" if="$(arg joint)">
        <arg name="machine" value="false" />
        <arg name="rviz" value="false" />
    </include>

<!-- pose node -->
    <group if="$(arg pose)">
        <include file="$(find manicapture)/launch/manipose.launch">
            <arg name="rviz" value="false" />
        </include>
        <node pkg="tf" type="static_transform_publisher" name="tf_publisher_hand" args="0 0 0 0 0 0 tag_left_hand_flt base_link 30" />
        <node pkg="tf" type="static_transform_publisher" name="tf_publisher_camera" args="0 0 0.5 0 3.14159265 0 map camera 30" />
    </group>

<!-- visualization -->
    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find manicapture)/launch/vis_system.rviz" />
    </group>
</launch>